In [3]:
#import packages 
import pandas as pd
import numpy as np

In [51]:
data = pd.read_csv('shots_data.csv')
data.head()

     team     x     y  fgmade
0  Team A -23.1   3.5       0
1  Team A   0.0  25.1       1
2  Team A   0.5   1.0       1
3  Team A  -5.6   5.2       0
4  Team A   4.0  14.5       1

In [32]:
data.dtypes

team       object
x         float64
y         float64
fgmade      int64
diag      float64
2pt         int64
c3pt        int64
3pt         int64
dtype: object

In [52]:
#create column for diagonal

data['diag'] = data.apply(lambda x: np.sqrt((x['x'] ** 2) + (x['y'] ** 2)), axis =1)
data.head()

     team     x     y  fgmade       diag
0  Team A -23.1   3.5       0  23.363647
1  Team A   0.0  25.1       1  25.100000
2  Team A   0.5   1.0       1   1.118034
3  Team A  -5.6   5.2       0   7.641989
4  Team A   4.0  14.5       1  15.041609

In [24]:
#if y <= 7.8 and x >= 22.0 then it's corner three
#if y<= 7.8 and x < 22.0 then it's 2pt fg
#if y > 7.8 and diag is >= 23.75 then it's 3pt 
# if y <7.8 and diag is < 23.75 then it's 2pt fg
def two(x):
    if x['y'] <= 7.8: 
        if x['x'] < 22: return 1
        else: return 0
    else:
        if x['diag'] < 23.75: return 1
        else: return 0
def three(x):
    if x['y'] <= 7.8: 
        if x['x'] >= 22: return 1
        else: return 0
    else:
        return 0
data['2pt'] = data.apply(two, axis = 1)
data['c3pt'] = data.apply(three, axis = 1)
data['3pt'] = data.apply(lambda x: 1 if x['c3pt'] == 0 and x['2pt'] == 0 else 0, axis = 1)

In [29]:
#create team subsets

#team a
data_a = data[data['team'] == 'Team A']
#team b
data_b = data[data['team'] == 'Team B']

In [34]:
#find the shot distribution for each team

#2pt 
two_distr_a = len(data_a[data_a['2pt'] == 1]) / len(data_a)
two_distr_b = len(data_b[data_b['2pt'] == 1]) / len(data_b)

#c3
c3_distr_a = len(data_a[data_a['c3pt'] == 1]) / len(data_a)
c3_distr_b = len(data_b[data_b['c3pt'] == 1]) / len(data_b)

#3pt
nc3_distr_a = len(data_a[data_a['3pt'] == 1]) / len(data_a)
nc3_distr_b = len(data_b[data_b['3pt'] == 1]) / len(data_b)

In [50]:
print('Team A:')
print('2_pointers: ' + str(two_distr_a) +  ' Corner 3s: ' + str(c3_distr_a) + ' Non_Corner 3s: ' + str(nc3_distr_a))

print('Team B')
print('2_pointers: ' + str(two_distr_b) +  ' Corner 3s: ' + str(c3_distr_b) + ' Non_Corner 3s: ' + str(nc3_distr_b))

Team A:
2_pointers: 0.6392857142857142 Corner 3s: 0.039285714285714285 Non_Corner 3s: 0.32142857142857145
Team B
2_pointers: 0.6142857142857143 Corner 3s: 0.04285714285714286 Non_Corner 3s: 0.34285714285714286

In [36]:
#efg 

#team A
makesA = data_a[data_a['fgmade'] == 1]
c3pa = len(makesA[makesA['c3pt'] == 1])
threesA = len(makesA[makesA['3pt'] == 1])
fga1 = len(data_a)
efgA = (len(makesA) + (.5 * (c3pa + threesA))) / len(data_a)

#team B
makesB = data_b[data_b['fgmade'] == 1]
c3pb = len(makesB[makesB['c3pt'] == 1])
threesB = len(makesB[makesB['3pt'] == 1])
fga2 = len(data_b)
efgB = (len(makesB) + (.5 * (c3pb + threesB))) / len(data_b)

print('Team A efG%: ' + str(efgA))
print('Team B efG%: ' + str(efgB))

Team A efG%: 0.4375
Team B efG%: 0.4785714285714286